@model SistemaVotoModelos.Votante

@{
    ViewData["Title"] = "Registro de Ciudadano";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow border-0">
                <div class="card-header bg-dark text-white py-3">
                    <h5 class="mb-0"><i class="bi bi-person-plus-fill"></i> Panel de Administración: Registrar Votante</h5>
                </div>
                <div class="card-body p-4">
                    <form asp-controller="Cuentas" asp-action="Registro" method="post">

                        <div class="row">
                            
                            <div class="col-md-6 mb-3">
                                <label class="form-label fw-bold">Nombre Completo</label>
                                <input asp-for="NombreCompleto" type="text" class="form-control" placeholder="Nombres y Apellidos" required />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label fw-bold">Correo Electrónico</label>
                                <input asp-for="Email" type="email" class="form-control" placeholder="usuario@sistema.com" required />
                            </div>
                           
                        </div>

@*                         <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label fw-bold">Teléfono / Celular</label>
                                <input asp-for="Telefono" type="text" class="form-control" placeholder="0999999999" />
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label fw-bold">Dirección de Domicilio</label>
                                <input asp-for="Direccion" type="text" class="form-control" placeholder="Calle y Nro de casa" />
                            </div>
                        </div> *@
                        <hr />

                        <div class="d-flex justify-content-between mt-4">
                            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">
                                <i class="bi bi-arrow-left"></i> Cancelar
                            </a>
                            <button type="submit" class="btn btn-dark px-5">
                                <i class="bi bi-save"></i> Guardar Ciudadano
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>