@{
    ViewData["Title"] = "Gestión de Direcciones";
}

<h2>Gestión de Direcciones</h2>

@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-success">
        @TempData["Mensaje"]
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

<form asp-controller="Admin"
      asp-action="SubirDirecciones"
      method="post"
      enctype="multipart/form-data">

    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label class="form-label">Archivo Excel</label>
        <input type="file" name="archivoExcel" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">
        Subir Excel
    </button>
</form>
